<% content_for :jumbotron do %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h2><%= @playlists.data.pageInfo.totalResults %> Playlists</h2>
  </div>
  <% @playlists.data.items.each do |playlist| %>
  <div class="col-md-4">
    <h3><%= playlist_title(playlist.snippet.title) %></h3>
    <p><%#= image_tag(playlist.snippet.thumbnails.medium.url) %>
    <p><%= playlist.snippet.description %></p>
    <p><%= link_to "#{pluralize(playlist.contentDetails.itemCount, 'Video')} &raquo;".html_safe, playlist_path(playlist.id), class: "btn btn-default", role: "button" %></p>
  </div>
  <% end %>
</div>