<% provide(:title, 'We Like Games!') %>
<% content_for :jumbotron do %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<% end %>

<!-- Example row of columns -->
<h2>Our Recent Videos</h2>
<div class="row">
  <% @videos.videos.each do |video| %>
  <div class="col-md-4">
    <h3><%= video.title %></h3>
    <p><%= video.description %></p>
    <p><%= link_to "Watch &raquo;".html_safe, "#{video.player_url}", class: "btn btn-default", role: "button" %></p>
  </div>
  <% end %>
</div>